      
.main-content{
min-height: calc(100vh - 50px);
 display: flex;
  flex-direction: column;
}
  .main-content > .footerContent{
    margin-top: auto;
  }

      .contact-container {
        width:calc(100vw - 55px);
        margin: auto;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        margin-bottom: auto;
        gap: 10px;
      }

      .contact-form,
      .newsletter,
      .contact-info {
        flex: 1;
        background: #fff;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }

      h2 {
        margin-bottom: 20px;
        font-size: 28px;
        color: #000000;
      }

      label {
        display: block;
        margin: 15px 0 5px;
        font-weight: 500;
      }

      input,
      textarea {
        width: 90%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        resize: none;
      }

      button {
        margin: 20px 0px;
        padding: 12px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        transition: background 0.3s ease;
        
      }

      button:hover {
        background-color: #428629;
      }

      .newsletter p {
        margin-bottom: 15px;
      }

      iframe {
        height: auto;
        width: auto;
      }


   @media screen and (max-width: 768px) {
        .contact-container{
          flex-direction: column;
          width: calc(100vw - 55px)
        }

      
      }