.product-list, 
#detailsContainer,
/* .search-list, */
.sortItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0px 20px;
  /* margin: 50px 0px 50px 50px; */
  gap: 3px;
  color: white;
}

.product-price {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 5px;
        }

         .current-price {
            font-size: 1.2rem;
            font-weight: 700;
            color: var(--primary);
        }
        
        .original-price {
            font-size: 0.9rem;
            color: var(--gray);
            text-decoration: line-through;
        }


.product {
  width: 220px; /* Fixed width or use % for fluid grids */
  margin: 15px;
  padding: 15px;
  color: #000000;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  float: left; /* For older browser support */
  position: relative;
}

.product:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transform: translateY(-3px);
}

.product-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
  background-color:rgb(173, 170, 167,0.15);
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.3s;
}

.product-item:hover .product-image img {
  transform: scale(1.03);
}

.btn{
  margin-top: auto;
}

.add-to-cart , .closeDetails{
  width: 100%;
  padding: 10px;
  margin-top: auto;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

.add-to-cart:hover {
  background: #388E3C;
}

@media (max-width: 768px) {
  .product{
    width: 35%;
    margin: 10px 2.5%;
  }
}

@media (max-width: 480px) {
  .product{
    width: 100%;
    margin: 10px 0;
  }
}



footer {
  text-align: center;
  background: #eee;
  padding: 1rem;
  font-size: 1.2rem;
}

.logo {
  position: fixed;
}

